@import url("https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap");
body, html, #__nuxt, #__layout, #__default {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-image: url("../../assets/images/background-image-2.png");
  background-size: cover;
  background-color: #030A8C;
  background-blend-mode: color-burn;
}

.welcome-title {
  font-family: "Tulpen One", cursive;
  color: #EF26F3;
  font-size: 30rem;
  font-weight: bold;
  line-height: 1;
}

.vr {
  border-left: 2px solid #EF26F3;
  height: 50vw;
  margin-left: 120px;
  margin-right: 120px;
}

.nav-buttons > button {
  background-color: transparent;
  font-family: "Tulpen One", cursive;
  color: #EF26F3;
  font-size: 15rem;
  border: 0;
  outline: none;
  transition: all 0.5s;
}
.nav-buttons > button:hover {
  color: #35d4bc;
  margin-left: 5px;
}

@media screen and (min-width: 2900px) {
  .welcome-title {
    font-size: 30rem;
  }

  .nav-buttons > button {
    font-size: 15rem;
  }
}
@media screen and (max-width: 2900px) {
  .welcome-title {
    font-size: 25rem;
  }

  .nav-buttons > button {
    font-size: 12rem;
  }
}
@media screen and (max-width: 1905px) {
  .welcome-title {
    font-size: 20rem;
  }

  .nav-buttons > button {
    font-size: 10rem;
  }
}
@media screen and (max-width: 900px) {
  .vr {
    display: none;
  }
}