@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-image: url("../../assets/images/background-image-2.png");
  background-size: 2731px 4453px;
  background-color: #030A8C;
}
